@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
  background-image: url('./assets/brooke-lark-08bOYnH_r_E-unsplash.jpg');
  background-size: cover;
  height: calc(100vh - 56px);
  z-index: 0;
}